table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;  
}



td {
  border: 1px solid #00626B;
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #77B7A4;
}
tr:nth-child(even) {
  background-color: #9ACEBF;
}


th{
font-size: 17px;
border: 1px solid #00626B;
  background-color: #BC6C1C;
  padding: 10px;
}


body{
  background-color: #00626B;
  padding: 20px 40px;
  background-image: url("ALLpoke5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


ul {
  list-style-type: none;
  margin: 20px 40px;
  padding: 0;
  overflow: hidden;
  background-color: #8FF7D8;
  }

li {
  float: left;
  font-weight: bold;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #2D7C66;
}



* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width:300px;
  padding: 10px;
  height: 350px; /* Should be removed. Only for demonstration */
  float: left
}

.column2 {
  float: left;
  width: 600px;
  padding: 10px;
  height: 150px; /* Should be removed. Only for demonstration */
  float: left
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  

}
